html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
h1 {
  font-size: 5rem;
  margin: 20px auto 30px auto;
  width: 50%;
  padding: 10px;
}
.input {
  font-size: 2.5rem;
}
.title {
  font-size: 3rem;
}
#btn {
  font-size: 3rem;
}
.card {
  font-size: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.album-cover {
  width: 10%;
}